<!-- <div class="logo_home">
  <%= link_to (image_tag(current_subject.logo.url(:medium) , :size => "small", :alt => current_subject.name )), current_subject  %>
</div>
<h5>
  <%= link_to truncate_name(current_subject.name, :length => 80), current_subject %>
</h5>
 -->
 <div class="span1" style="width:100%;">
<table cellpadding="10" style="text-align:center;margin-top:40px;font-size:11px;">
<tbody><tr><td>
  <img alt="Dash1" src="../../../assets/dash1.png"><br><a href="/home" style="color:#666;">Dashboard</a></td></tr>
<tr><td>  <img alt="Pro" src="../../../assets/pro.png"><br><a href="/users/<%=current_user.slug %>" style="color:#666;">My Profile</a></td></tr>
<tr><td>  <img alt="Pro" src="../../../assets/files.png" style="width:36px;height:21px;"><br><a href="/users/<%=current_user.slug %>/documents" style="color:#666;">My files</a></td></tr>
<tr><td>  <img alt="Groups" src="../../../assets/groups.png"><br><a href="/contacts" style="color:#666;">My Connections</a></td></tr>
<tr><td>  <img alt="Comp" src="../../../assets/comp.png"><br><a href="/groups/new" style="color:#666;">Add Group</a></td></tr>
<tr><td>  <img alt="Jobs" src="../../../assets/jobs.png"><br>My Recommendations</td></tr>
<tr><td>  <img alt="Settings" src="../../../assets/settings.png" style="color:#666;"><br><a href="/settings" style="color:#666;">Settings</a></td></tr>
</tbody></table>
</div>