<!-- <div class="logo_home">
  <%= link_to (image_tag(current_subject.logo.url(:medium) , :size => "small", :alt => current_subject.name )), current_subject  %>
</div>
<h5>
  <%= link_to truncate_name(current_subject.name, :length => 80), current_subject %>
</h5>
 -->
 <div class="span1" style="width:100%;">
<table cellpadding="10" style="text-align:center;margin-top:40px;font-size:11px;">
<tbody><tr><td>
  <a href="/home" style="color:#666;"><img alt="Dash2" src="../../../assets/dash2.png"><br>Dashboard</a></td></tr>
<tr><td> <a href="/users/<%=current_user.slug %>" style="color:#666;"> <img alt="Pro" src="../../../assets/pro1.png"><br>My Profile</a></td></tr>
<tr><td><a href="/users/<%=current_user.slug %>/documents" style="color:#666;">  <img alt="Pro" src="../../../assets/files1.png" style="width:36px;height:21px;"><br>My files</a></td></tr>
<tr><td><a href="/contacts" style="color:#666;">  <img alt="Groups" src="../../../assets/groups1.png"><br>My Connections</a></td></tr>
<tr><td><a href="/groups/new" style="color:#666;">  <img alt="Comp" src="../../../assets/comp1.png"><br>Add Group</a></td></tr>
<tr><td> <a href="#" style="color:#666;"> <img alt="Jobs" src="../../../assets/jobs1.png"><br>My Recommendations</a></td></tr>
<tr><td> <a href="/settings" style="color:#666;"> <img alt="Settings" src="../../../assets/settings1.png"><br>Settings</a></td></tr>
</tbody></table>
</div>